*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;

}
.inner{
    width:75%;
    margin: 0 auto;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */



a{  
    padding: 8px;
    background-color: white;
    color: #242525;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 1.5s ease;
}
a:hover{
    background-color: skyblue;
}
button{
    background-color: #242525;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    text-transform: uppercase;
    transition: 1.5s ease;
}
button:hover{
    background-color: #9dc6f7;
    color: #292924;
}
.sr-only{
    display:none;
}

/* header */

header{
    background-color: #26292E;
    width: 100%;
}
header .inner{
    position: relative;
    height: 100px;
}
.logo{
    color:whitesmoke;
    font-family: "Butterfly kids";
    font-size: 45px;
    text-transform: capitalize;
    position: absolute;
}
.top-nav{
    position: absolute;
    right:  55px;
    bottom: 15px;
}

.so-list-item{
    display: inline;
}
/* end header */

/* main */

.section1{
    width:100%;
    background-image: radial-gradient(at top, #EE8CA2,#E7718B);
}
.section1 .inner{
    height: 210px;
    position: relative;
}
.block1{
    width: 45%;
    font-size: x-small;
    position: absolute;
    left: 15px;
    top: 10px;
}
.block2{
    width: 35%;
    position: absolute;
    right: 15px;
    top: 10px;
    /* border: 1px solid green; */
}
.section2{
    width:100%;
    background-color: #F4F4F6;
    border-bottom: 5px solid #f7e4e8;
}

.section2 .inner{
    height: 220px;
    position: relative;
    /* border: 1px solid black; */
}
.block3, .block4, .block5{
    width: 250px;
    font-size: smaller;
    position: absolute;
    /* border: 1px solid orangered; */
}

.block4{
    left: 350px;
}

.block5{
    right: 0;
}

.icon-cloud-download{
    font-size: 35px;
}
.icon-bubbles{
    font-size: 35px;
}
.icon-star-half{
    font-size: 35px;
}

/* .section3{
    height: 340px;
} */

.section3 .inner{
    height: 340px;
    position: relative;
}

.bold{
    font-weight: bold;
}

.block6{
    position: relative;
    width: 300px;
    height: 240px;
}

.products{
    position: absolute;
    width: 120px;
    height: 64px;
    background-color: #393a3a;
    color: white;
    border: 3px solid gray;
    line-height: 85px;
}
.products:nth-child(2){
    right: 45px;    
}
.products:nth-child(3){
    top: 120px;
}
.products:last-child{
    top: 120px;
    right: 45px;
}
.product{
    position: absolute;
    top: 1px;
    left: 35px;
}

.icon-search{
    font-size: 35px;
}

aside{
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 350px; 
}

/* end main */
footer{
    background-color: #26292E;
    color: white;
    height: 60px;
}
footer .inner{
    position: relative;
    padding: 20px 0;
}
.colophon{
    position:absolute;
    left:0;
    top:0;
}
.footer-nav{
    position: absolute;
    right: 0;
    top: 15px;
}

.footer-nav ul {
    margin: 0;
}
/* footer */

